*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 50vh;
    width: 50vw;
}

.title {
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 23, 105);
    letter-spacing: 1px;
    margin: 30px 0;
}

.nama  {
    font-size: 30px;
}
